#div-pai-do-jogo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 100px;
}

body {
    background-color: gray;
}

#dino, #explode {
    position: absolute;
    top: 75px;
    left: 30px;
}

.ground {
    width: 20px;
    height: 20px;
}

h1 {
    text-align: start;
    display: none;
}